<ion-view view-title="Produtos">
    <ion-nav-buttons side="right">
        <button class="button button-dark" ng-click="addProductModal.show()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="text-center">
        <ion-list>
            <ion-item class="item-remove-animate" ng-repeat="product in products | orderBy: 'name'"
            type="item-text-wrap" ng-click="selectProduct(product)"
            ng-class="{'item-stable':$odd, 'item-light':$even}">
                <h2>
                    <span class="float-left list-name">{{product.name}}</span>
                    <span class="float-right color-green">R$ {{product.price | number: 2}}</span>
                </h2>
                <ion-option-button class="button-assertive" ng-click="deleteProduct(product, $index)">
                    Remover
                </ion-option-button>

                <!-- Edit functionality in construction
                <ion-option-button class="button-positive" ng-click="editProduct(product, $index)">
                    Edit
                </ion-option-button> -->
            </ion-item>
        </ion-list>
        <h1 ng-if="!products.length">Não há produtos adicionados</h1>
    </ion-content>
</ion-view>
