/* Empty. Add your own CSS if you like */
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.color-green {
	color: green;
}
.margin-10px {
	margin: 10px;
}
.item.item-stable, .item.item-light {
	border-color: white !important;
}
.list-name {
	max-width: 70%;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
}
.platform-ios .bar-header {
	padding-top: 50px;
}
.platform-ios .bar .title {
	top: 15px;
}
.platform-ios .bar .title + .buttons {
	top: 20px;
}
.platform-ios ion-content {
	margin-top: 10px !important;
}

.hc-toast-wrapper {
	z-index: 999999;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
}
.hc-toast-wrapper .hc-toast {
	position: absolute;
	bottom: 4em;
	display: flex;
	align-self: center;
	padding: 8px 16px;
	border-radius: 192px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-weight: 700;
	transition: all 600ms cubic-bezier(0.8, 0.2, 0.2, 0.8);
}
.hc-toast-wrapper .hc-toast.hc-toast-top {
	bottom: auto;
	top: 8px;
}
.hc-toast-wrapper .hc-toast.hc-toast-center {
	bottom: auto;
	transform: translateY(-50%);
	top: 50%;
}
.hc-toast-wrapper .hc-toast.hc-toast-hidden {
	opacity: 0;
	transform: translateY(16px);
}














